WMETitleBar {{
  background-color: {QTMATERIAL_SECONDARYCOLOR};
}}

QMenuBar::item {{
  height: {{32|density(density_scale)}}px;
  padding: 10px;
}}

QMenuBar::item:disabled {{
  color: {QTMATERIAL_SECONDARYLIGHTCOLOR};
}}

QLabel#title {{
  color: {QTMATERIAL_PRIMARYCOLOR};
  font: italic;
}}

QLabel#log {{
  font: 10pt 'Courier New';
  background-color: {QTMATERIAL_SECONDARYCOLOR};
  padding: 10px;
}}

QPushButton.titlebar {{
  border-radius: 0px;
  border-width: 0px;
  background-color: transparent;
}}

QPushButton.titlebar:pressed {{
  background-color: {QTMATERIAL_PRIMARYCOLOR};
}}

QPushButton.danger {{
  border-radius: 0px;
  border-width: 0px;
  background-color: transparent;
}}

WMETabBar {{
  text-transform: none;
}}

QToolButton {{
  height: 24px;
  border: 0px;
  background-color: transparent;
}}

QToolBar QToolButton:disabled, QToolButton:disabled {{
  height: 24px;
  border: 0px;
  background-color: transparent;
}}

QToolButton:hover {{
  height: 24px;
  border: 0px;
}}

QToolButton:pressed {{
  height: 24px;
  border: 0px;
}}

QToolButton:checked {{
  height: 24px;
  border: 0px;
}}

QToolBar::separator:horizontal {{
  border-right: 0px;
  border-left: 0px;
  width: 1px;
  background-color: {QTMATERIAL_SECONDARYLIGHTCOLOR};
}}

QPlainTextEdit#code_editor {{
  border-radius: 0px;
  border-width: 0px;
  background-color: {QTMATERIAL_SECONDARYCOLOR};
  padding: 0px 0px;
  font: 11pt 'Courier New';
  font-weight: bold;
}}

QFrame#list_entry {{
  border-radius: 0px;
  border-width: 1px;
  border-color: {QTMATERIAL_SECONDARYLIGHTCOLOR};
}}

QTabBar::tab:top {{
  border-bottom: 2px solid {QTMATERIAL_SECONDARYLIGHTCOLOR};
}}

QTabBar::tab:top:hover {{
  color: {QTMATERIAL_PRIMARYCOLOR};
  border-bottom: 2px solid {QTMATERIAL_SECONDARYLIGHTCOLOR};
}}

QTabBar::tab:top:selected:hover {{
  color: {QTMATERIAL_PRIMARYCOLOR};
  border-bottom: 2px solid {QTMATERIAL_PRIMARYCOLOR};
}}

WMETabBar::tab:top {{
  border-bottom: 2px solid {QTMATERIAL_SECONDARYDARKCOLOR};
}}

WMETabBar::tab:top:hover {{
  border-bottom: 2px solid {QTMATERIAL_SECONDARYDARKCOLOR};
}}

QToolTip {{
  border: 1px solid {QTMATERIAL_SECONDARYDARKCOLOR};
  border-radius: 0px;
  color: {QTMATERIAL_SECONDARYTEXTCOLOR};
  background-color: {QTMATERIAL_SECONDARYLIGHTCOLOR};
}}

QMenu {{
  background-color: {QTMATERIAL_SECONDARYCOLOR};
  border: 2px solid {QTMATERIAL_SECONDARYLIGHTCOLOR};
  border-radius: 0px;
}}

QToolButton::menu-indicator {{ image: none; }}

SearchResultWidget {{
  color: {QTMATERIAL_PRIMARYCOLOR};
}}

WMETabBar::tab {{
  background-color: {QTMATERIAL_SECONDARYDARKCOLOR};
}}

QSplashScreen {{
  font: 32pt 'Agency FB';
  font-weight: bold;
  font-style: italic;
}}

QSizeGrip {{ image: none; }}

QListWidget::item {{
  padding: 2px;
}}

StringSelectionCombobox {{
  background-color: {QTMATERIAL_SECONDARYDARKCOLOR};
}}

QWidget#separator {{
  background-color: {QTMATERIAL_SECONDARYLIGHTCOLOR};
}}

QScrollBar::add-page:horizontal,
QScrollBar::sub-page:horizontal,
QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical {{
  background: {QTMATERIAL_SECONDARYLIGHTCOLOR};
}}

QScrollBar::handle {{
  background: {QTMATERIAL_PRIMARYLIGHTCOLOR};
}}

QScrollBar::handle:vertical {{
  min-height: 8px;
}}

QTextEdit#steam_text_edit {{
  color: {QTMATERIAL_SECONDARYTEXTCOLOR};
}}

QLabel#heading {{
  color: {QTMATERIAL_PRIMARYCOLOR};
  font: 14pt;
  font-weight: bold;
}}